# Python
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/.next/
frontend/out/

# Environment
.env
.env.local

# macOS
.DS_Store

# SAM (Serverless Application Manager)
.aws-sam

# Added venv so Pylance could resolve everything. was missing boto and langchain for some reason.
# Ignore the interpreter settings changfe
settings.json